<!DOCTYPE html>
<html>
  <head>
    <title>Tusa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <div class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="container">
        <%= link_to t('app.name'), root_path,class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item nav-link"><%= link_to current_user.name, current_user %></li>
              <li class="nav-item nav-link"><%= link_to t('devise.sessions.new.log_out'), destroy_user_session_path,
                            method: :delete %></li>
            <% else %>
              <li class="nav-item nav-link"><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
              <li class="nav-item nav-link"><%= link_to t('devise.registrations.new.sign_up'),new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; <%= t 'app.company' %> <%= Time.now.year %></p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
